@model IEnumerable<Pertamina.Peka.Models.Laporans>
@{
    Layout = null;
}
<div class="modal fade" id="advancedSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Advanced Search</h4>
            </div>           
            <div class="modal-body">
                <div class="form-horizontal">
                    <hr />
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="inputArea">Type Pegawai</label>
                            <select id="typePegawai" class="form-control">
                                <option value="" selected>Pilih Semua</option>
                                @foreach (var item in Model.Select(x => x.typePegawai).Distinct())
                                {
                                    <option value="@item.ToString()">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="inputArea">Bulan</label>
                            <select id="Bulan" class="form-control">
                                <option value=0 selected>Pilih Semua</option>
                                @foreach (var item in Model.Select(x => x.Bulan).Distinct())
                                {
                                    if (@item == 1)
                                    {
                                        <option value=@item>Januari</option>
                                    }
                                    else if (@item == 2)
                                    {
                                        <option value=@item>Februari</option>
                                    }
                                    else if (@item == 3)
                                    {
                                        <option value=@item>Maret</option>
                                    }
                                    else if (@item == 4)
                                    {
                                        <option value=@item>April</option>
                                    }
                                    else if (@item == 5)
                                    {
                                        <option value=@item>Mei</option>
                                    }
                                    else if (@item == 6)
                                    {
                                        <option value=@item>Juni</option>
                                    }
                                    else if (@item == 7)
                                    {
                                        <option value=@item>Juli</option>
                                    }
                                    else if (@item == 8)
                                    {
                                        <option value=@item>Agustus</option>
                                    }
                                    else if (@item == 9)
                                    {
                                        <option value=@item>September</option>
                                    }
                                    else if (@item == 10)
                                    {
                                        <option value=@item>Oktober</option>
                                    }
                                    else if (@item == 11)
                                    {
                                        <option value=@item>November</option>
                                    }
                                    else if (@item == 12)
                                    {
                                        <option value=@item>Desember</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="inputArea">Tahun</label>
                            <select id="Tahun" class="form-control">
                                <option value=0 selected>Pilih Semua</option>
                                @foreach (var item in Model.Select(x => x.Tahun).Distinct())
                                {
                                    <option value=@item>@item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="inputArea">Bagian</label>
                            <select id="Bagian" class="form-control">
                                <option value="" selected>Pilih Semua</option>
                                @foreach (var item in Model.Select(x => x.Bagian).Distinct())
                                {
                                    <option value="@item.ToString()">@item</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="inputArea">Lokasi</label>
                            <select id="Lokasi" class="form-control">
                                <option value="" selected>Pilih Semua</option>
                                @foreach (var item in Model.Select(x => x.lokasi).Distinct())
                                {
                                    <option value="@item.ToString()">@item</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="inputArea">Kategori</label>
                            <select id="Kategori" class="form-control">
                                <option value="" selected>Pilih Semua</option>
                                @foreach (var item in Model.Select(x => x.Kategori).Distinct())
                                {
                                    <option value="@item.ToString()">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button id="btnPerformAdvancedSearch" type="button" class="btn btn-default btn-success" data-dismiss="modal" onclick="ReloadData()">Search</button>
                    <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            
        </div>
    </div>
</div>